@mixin clearfix{
	&::after{
		content:'';
		display: table;
		clear:	both;
	}
}

// TEXT STYLE MIXINS

@mixin H1 {
  font-family: OracleSans_Bd, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.35;
  color: $col-txt-default;
}

@mixin H2 {
  font-family: OracleSans_Bd, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.31;
  color: $col-txt-default;
}

@mixin H3 {
  font-family: OracleSans_Bd, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.32;
  color: $col-txt-default;
}

@mixin Body-1--Bold {
  font-family: OracleSans_Bd, Arial, Helvetica, sans-serif;
  font-size: .9rem;
  line-height: 1.33;
  color: $col-txt-default;
}

@mixin Body-1 {
  font-family: OracleSans, Arial, Helvetica, sans-serif;
  font-size: .9rem;
  line-height: 1.33;
  color: $col-txt-default;
}

@mixin Body-2--Bold {
  font-family: OracleSans_Bd, Arial, Helvetica, sans-serif;
  font-size: .80rem;
  line-height: 1.38;
  color: $col-txt-default;
}

@mixin Body-2--Italic {
  font-family: OracleSans_Lt, Arial, Helvetica, sans-serif;
  font-size: .80rem;
  font-style: italic;
  line-height: 1.5;
  color: $col-txt-default; 
}

@mixin Body-2 {
  font-family: OracleSans, Arial, Helvetica, sans-serif;
  font-size: .80rem;
  line-height: 1.5;
  color: $col-txt-default;
}

@mixin Caption--Bold {
  font-family: OracleSans_Bd, Arial, Helvetica, sans-serif;
  font-size: .60rem;
  font-weight: bold;
  line-height: 1.33;
  color: $col-txt-default;
}

@mixin Caption {
  font-family: OracleSans, Arial, Helvetica, sans-serif;
  font-size: .60rem;
  line-height: 1.33;
  color: $col-txt-default;
}






@mixin artboard-top-center{	 
  transform-origin: top center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: gray;
}

@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin platformMobile{
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
}
@mixin platformPhone{
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

@mixin bp($point) {
  @media only screen and (max-width: $point+px){ @content; }           
}
@mixin bpx($point,$point1) {
	@media screen and (max-width: $point+px) , screen and (max-height: $point1+px)
	{ @content; }
}

@mixin bph($point){
  @media only screen and (max-height: $point+px){ @content; }             
}

// MEDIA QUERY MANAGER

/*
		0-767px:      Phone
		768-910px:    Tablet portrait
		910-1024:     Tablet landscape
		1025- x:      Desktop
*/

/*
$Breakpoint argument choices:
-phone
-port
-land
-desk
*/

// ORDER: Base + typography > gen layout + grid > page layout > components
