// GRID
$grid-width: 70.00rem;
$gutter-vertical: 0.50rem;
$gutter-horizontal: 0.50rem;
// FONT-SIZE
$sml-font-size-1:	0.60rem; // 12px;
$reg-font-size-1:	0.80rem; // 16px;
$med-font-size-1:	1.20rem; // 24px;
$big-font-size-1:	1.80rem; // 36px;
// FONT-FAMILY
$font-bold: Univers-Bold, Arial, Helvetica, sans-serif;
$font-reg: Univers, Arial, Helvetica, sans-serif;
$font-lt: Univers-lt, Arial, Helvetica, sans-serif;
$font-arial: Arial, Helvetica, sans-serif;
// COLORS
$color-white-1: #fff;

$color-blue-1: #4e5052;
$color-blue-2: #00758f;
$color-blue-3: #003b4d;
$color-blue-4: #01758f;
$color-blue-5: #bde6ee;
$color-blue-6: #606161;
$color-blue-7: #0D8099;
$color-blue-8: #bee6ee;

$color-pink-1: #942645;

$color-brown-1: #942745;

$color-green-1: #3a913f;

$color-orange-1: #f29111;


