// GRID
$grid-width: 70.00rem;
$gutter-vertical: 0.50rem;
$gutter-horizontal: 0.50rem;
// FONT-SIZE
$sml-font-size-1:	0.60rem; // 12px;
$reg-font-size-1:	0.80rem; // 16px;
$med-font-size-1:	1.20rem; // 24px;
$big-font-size-1:	1.80rem; // 36px;
// FONT-FAMILY

$font-bold: OracleSans_Bd, Arial, Helvetica, sans-serif;
$font-reg: OracleSans, Arial, Helvetica, sans-serif;
$font-lt: OracleSans_Lt, Arial, Helvetica, sans-serif;
$font-arial: Arial, Helvetica, sans-serif;


// COLOR PALETTE

$col-signature-red: #d1350f;
$col-signature-black: #282623;
$col-secondary-yellow: #e6ac58;
$col-supporting-darkblue: #2c5967;
$col-supporting-lightblue: #41727e;
$col-supporting-darksea: #2e686c;
$col-supporting-lightsea: #41817e;
$col-secondary-lightgreen: #759c6c;
$col-secondary-darkgreen: #2b6242;
$col-secondary-orange: #ae562c;
$col-secondary-blue: #94afaf;
$col-supporting-gray1: #8b8580;
$col-supporting-beige-20: rgba(229, 219, 190, 0.2);
$col-supporting-gray2: #79726d;
$col-supporting-gray3: #67605b;
$col-supporting-gray4: #56504b;
$col-supporting-beige: #e5dbbe;

$col-txt-default: #383330;
$col-white: #fcfbfa;
$col-h3-underline: #e6e1de;
$col-metrics-sub: #71665e;

// COLORS


$color-blue-1: #4e5052;
$color-blue-2: #00758f;
$color-blue-3: #003b4d;
$color-blue-4: #01758f;
$color-blue-5: #bde6ee;
$color-blue-6: #606161;
$color-blue-7: #0D8099;
$color-blue-8: #bee6ee;

$color-pink-1: #942645;

$color-brown-1: #942745;

$color-green-1: #3a913f;

$color-orange-1: #f29111;



