.bg{

    &__group{
        float: left;
        position: absolute;
        height: 40.00rem; 
        width: 70.00rem;
        z-index: -1;

        &--cover{
            background-color: $col-signature-black;
        }
    }
    &-container{
        float: left;
        height: 40.00rem;
        &__left{
            width: 50%;
        }
        &__right{            
            width: 50%;
        }
    }
    &-black{
        background-color: $col-signature-black;
    }
    &-gray{
        background-color: $col-supporting-gray2;
    }
}
