.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0rem;
  box-sizing: border-box;

  @include clearfix;

	&-1-col{
	    height: 40.00rem;;
	    float: left;
	    width: 100%;
	    &--1{
	    	padding-top: 6.1rem;
	    	padding-left: 6.1rem; 
		}
		&--2{
			padding: 2.2rem 6.2rem 0 6.2rem;  
		}
		&--3{
			padding: 6.4rem 6.2rem 0 6.2rem;  
		}
	}
	&-left-3-col{
	    padding: 4.60rem 1.2rem 0 6.1rem;
	    float: left;
	    width: 33%;
	    height:40.00rem; 
	}
	&-mid-3-col{
	    padding: 4.60rem 3.55rem 0 1.2rem;
	    float: left;
	    width: 31%;
	    height:40.00rem;
	}
	&-right-3-col{
	    padding: 4.60rem 2.65rem 0 0;
	    float: left;
	    width: 36%;
	    height:40.00rem;
	}
	&-right-2-col{
		height:40.00rem;
		padding: 6.4rem 6.15rem 0 6.15rem;
	    width: 50%;
		float: left;
		position: relative;
		
		&--1{
			padding: 4.8rem 6.15rem  0 6.15rem; 
		}
		&--2{
			padding: 6.4rem 11.95rem  0 .35rem;
		}
		&--3{
			padding: 9.25rem 7.7rem  0 6.9rem;
		}
		&--4{
			padding: 9.8rem 6.15rem  0 6.15rem;
		}
  
		&--chapter{
			width: 37.5%;
			padding: 6.4rem 3.8rem 0 0;
		}
		
	}
	&-left-2-col{
	  height:40.00rem;
	  padding: 6.4rem 6.15rem 0 6.15rem;
	  width: 50%;
	  float: left;
	  position: relative;
	  
	  	&--1{
		  padding: 4.8rem 6.15rem  0 6.15rem;
		}
	  	&--4{
		  padding: 9.8rem 6.15rem  0 6.15rem;
		}
		&--chapter{
			width: 62.5%;
			padding: 6.4rem 5rem 0 6.15rem;
		}
	}
}

.container-right-3-col, .container-right-2-col, .container-left-2-col, .container-left-3-col, .container-mid-3-col, .container-left-2-col, .container-left-3-col, .container-left-2-col, .container-mid-3-col, .TOC-left, .TOC-right, .container-1-col {
	@include bp(1053){
    width: 100%;
    height: auto;
    padding: 0;
    float: unset;
    margin: 0 auto;
  }
}