.cover{

  &__wrapper{
    position: relative;
    padding-left: 5.85rem;
    padding-top: 3rem;
    height: 27.8rem;
    width: 47.6rem;
    background-color: $col-white;
    overflow: hidden;
  }

  &__text-box{

    width: 24.6rem;
    display: flex;
    align-items: center;
    position: relative;
    @include bp(1053){
      padding-left: 5.46vw;
      padding-right: 5.46vw;
      padding-bottom: 6.45rem;
    }
    @include bp(767){
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }

  &__pg-box{
    width: 18.1rem;
    margin-bottom: 4.5rem;
    margin-top: 1.6rem;
    position: relative;
  }

  &-logo-oracle {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(#);
    background-color: aliceblue;
    width: 4.50rem;
    height: .65rem;
    margin-bottom: 3.05rem;
    @include bp(1053){
      height: 3.60rem;
      width: 4.50rem;
      left: 0;
      margin-left: 5.46vw;
      margin-top: -2.90rem;
    }
    @include bp(767){
      // margin-left: 1.00rem;
      // width: 6.87rem;
      // height: 2.40rem;
      margin-left: 5vw;
      margin-top: -2.06rem;
    }
    @include bp(500){
      height: 3.24rem;
      width: 9.25rem;      
    }
    @include bp(450){
      height: 3.08rem;
      width: 8.79rem;      
    }
    @include bp(400){
      height: 2.77rem;
      width: 7.91rem;      
    }    
    @include bp(351){
      height: 2.63rem;
      width: 7.51rem;      
    }       
  }

  &__arrow{
    flex: 0 0 1.44rem;
    height: 2.62rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/graphics/icons/cover-arrow.svg');
    cursor: pointer;
  }  
}
