.footer {
  width: 100%;
  height: 3.15rem;
  position: absolute;
  bottom: 0;
    background-color: rgba(0,117,143, .05);
  font-family: Univers, Arial, Helvetica, sans-serif;
  font-size: 0.80rem;
    letter-spacing: -.05em;
    color:#fff;
    pointer-events: none;

	&-book-title {
	    float: right;
	    margin-top: 0.75rem;
	    margin-right: 0.75rem;
	}
	&-chap-title {
	    margin-top: 0.30rem;
	    margin-left: 3.45rem;
	    display: inline-block;
	}
  &-phone{
    display: none;
    @include bp(1053){
      display: block;   
    }
  }
}



#footNum {
    float: right;
    margin-top: .2.50rem;
    font-family: Univers-Bold, Arial, Helvetica, sans-serif;
    padding-right: 1.10rem;
    font-size: 1.05rem;
    color: #fff;
}
