button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

// button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  overflow: visible;
}

input {
  line-height: normal;

  &[type="checkbox"],
  &[type="radio"]{
	  box-sizing: border-box;
  	padding: 0;
  }
  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button{
  	height: auto;
  }
}

.btn{
  display: flex;
  background-color: transparent;
  color: white;
  cursor: pointer;
  align-items: center;  
  transition: all 500ms; 
  border: none;

  & img{
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    transition: all .5s; 
    &:hover img{
      padding-left: .5rem;
    }

  }
  
  &--1{
    height: 1.80rem;


    &:hover{

      & > *{
        color: $col-signature-red;
      }
      & > .arrow--2{
        background-image: url('../assets/graphics/icons/arrow_blue_lt.svg');
        transform: translateX(0.20rem);
      }
    }  
  }
  &--2{ 
    margin-top: 2rem; 
    
    @include bp(1053){
      margin: 2rem auto;
      width: 29.8rem; 
      cursor: auto;
    }
  }
  &--3{ 
    width: auto;
    margin-top: 1.3rem;
    margin-left: auto;
  }

  &__section{
    position: absolute;
    bottom: 1.1rem;
    right: 5rem;

    &--flex{
      bottom: 1.5rem;
    }
  }
}