.callout{
    &__slider{
        background-color: $col-signature-black;
        margin-left: -3.1rem;
        margin-right: -4.15rem;
        padding-left: 3.1rem;
        padding-right: 4.15rem;
        padding-top: 2rem;
        width: 22.7;

        &--1{
            height: 100%;
            margin-top: 2.7rem;
            
            @include bp(1053){
                height: auto;
                margin-bottom: 4rem;
                padding-bottom: 1rem;
            }
            @include bp(650){
                margin: 0;
                margin-bottom: 4rem;
                padding: 2rem 1.5rem 1rem;
            }
        }

        &--2{
            margin-top: -6.4rem;
            height: 36.9rem;

            @include bp(1053){
                height: auto;
                margin-top: 3rem;
                margin-bottom: 4rem;
                padding-bottom: 1rem;
            }
            @include bp(650){
                margin: 0;
                margin-bottom: 4rem;
                padding: 2rem 1.5rem 1rem;
            }
        }
        
        &--3{
            margin: 0 0 2.15rem -6.15rem;
            padding: 0 1.2rem 0 6.15rem;
            height: 3.35rem;
            color: $col-secondary-yellow;

            display: flex;
            align-items: center;
            justify-content: space-between;

            @include bp(1053){
                margin: 0;
                margin-bottom: 2.15rem;
                margin-left: calc( - (100vw - 29.8rem) / 2); 
                padding: 0;
                padding-left: calc((100vw - 29.8rem) / 2);
                width: 33rem;
            }
            @include bp(650){
                margin: 0;
                margin-bottom: 2.15rem;
                padding: 0 1.5rem;
                width: auto;
            }
        }

        &--4{
            margin: 0;
            margin-bottom: .6rem;
            padding: .6rem;
            @include clearfix;

            &__link{
                display: flex;
                align-items: center; 
                width: 20.5rem;
                @include bp(650){
                    width: auto;
                }
            }
            
            transition: all .2s;

            &:hover{
                transform: scale(1.025);
                box-shadow: .1rem .2rem rgba($color: $col-signature-black, $alpha: .2);
            }

            @include bp(1053){
                width: 21.8rem;
                margin: 0 auto .6rem auto;
            }
            @include bp(650){
                width: auto;
                margin: 0 1.5rem .6rem;
            }
        }

        &--5{
            margin: -7rem 0 0 -4.4rem;
            padding: 7rem 4.2rem 1.2rem 5.2rem;
            height: 35.8rem;
            width: 29.4rem;
            top: 2.8rem;
            left: 2.8rem;
            background-color: $col-white;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--hr{ padding-top: 8rem; } 
            &--sc{ padding-top: 12rem; }
            &--cx{ padding-top: 4rem; }
            @include bp(1053){
                margin: 0 auto 2rem auto;
            }
            @include bp(1053){
                margin: 0 auto 2rem auto;
            }
            @include bp(650){
                margin: 0 1rem;
                padding: 3rem .5rem 0;
                top: auto;
                left: auto;
                width: auto;
                height: auto;
            }
        }

        &--6{
            width: 29.2rem;
            height: 36.9rem;
            margin: 0 2.7rem 3.1rem 3.1rem;
            padding: 6.4rem 5.25rem 0 3rem;
            @include bp(1053){
                margin: 3rem auto 2rem auto;
                height: auto;
                padding-bottom: 3rem;
                width: 29.8rem;
            }
            @include bp(650){
                margin: 2rem 1rem;
                height: auto;
                padding: 2rem .5rem;
                width: auto;
            }
        }
        &--7{
            width: 29.2rem;
            height: 100%;
            margin: 3rem 2.7rem 0 3.1rem;
            padding: 3.4rem 5.25rem 0 3rem;
        }
        &--8{
            width: 29.8rem;
            height: 35.8rem;
            margin: 2.3rem 2.7rem 0 2.5rem;
            padding: 4.1rem 4rem 0 3.1rem;
            background-color: $col-white;

            @include bp(1053){
                margin: 2.3rem auto; 
                & > * {
                    width: auto;
                }
            }
            @include bp(650){
                margin: 2.3rem .8rem; 
                width: auto;
                height: auto;
                padding: 3rem .8rem 2rem;
                & > * {
                    width: auto;
                }
            }
        }
    }

    &__flex{
        width: 100%;

        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;


        &--2{ 
            padding-right: 3rem; 
            @include bp(650) {
                padding: 0;
            }
        }

    }

    &__box{
        width: 9.05rem;
        @include bp(650){
            width: 7.3rem
        }
    }

    &__symb{
        margin-left: .6rem;
        margin-right: 1.4rem;
        width: 2.5rem;
        @include Body-1--Bold;
        color: $col-secondary-yellow; 
        font-size: 1.1rem;
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &--2{
            width: 16rem;
            @include bp(650){
                width: auto;
            }
        }
    }
}

.oracle-links{
    display: block;
}