.chapters{

    &__wrapper{
        display: flex;
        justify-content: space-between;

    }
    &__container{
        height: 13.5rem;
        width: 13.5rem;

        background-color: $col-white;
        border-radius: .2rem;
        padding: 0 .8rem;

    }
    &__title{
        height: 3.2rem;

        border-bottom: 2px solid rgba($color: $col-supporting-beige, $alpha: .2);
    }
    &__symbol{
        height: 8.25rem;
        padding: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all .2s;
        & span:hover{
            transform: scale(1.045);
            text-shadow: .1rem .2rem rgba($color: $col-signature-black, $alpha: .2);
        }

    }
    &__cta{
        height: 2.0rem;
        border-top: 2px solid rgba($color: $col-supporting-beige, $alpha: .2);

        display: flex;
        align-items: center;
        justify-content: center;



    }
}