.flex{

    &-wrapper{
        height: 13.5rem;
        margin-bottom: 2.5rem;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include bp(1053){
            flex-wrap: nowrap;
            height: auto;
            width: 29.8rem;
            margin: 0 auto 3rem auto;
        }
        @include bp(1053){
            height: auto;
            width: auto;
            margin: 0 1.5rem 3rem;
        }
    }

    &__container{
        margin-right: 6.5rem;
        width: 22.65rem;
        margin-bottom: 1.65rem;

        @include bp(1053){
            width: auto;
            margin-right: 0;
        }
    }

    &__direction{
        border: 1px solid $col-secondary-yellow;
        border-radius: 4px;
        margin: -.8rem;
        margin-top: 0;
        padding: .8rem;
    }
}