img {
  border: 0;
  max-width: 100%;
  max-height: 100%;	

}
.popup{
  max-width: 70rem;
  max-height: 40rem;
  @include bp(1053){
    max-width: 90vw;
    max-height: 90vh;
  }
}
svg:not(:root) {
  overflow: hidden;
}

.img-right img, .img-responsive img{
    width: 100%;
}

.imgContainer{
	&--1{
		
	}
}

.logo-tag{
  position: absolute; 
  bottom: 0.4rem;
  right: 2.6rem;
  display: block;
  z-index: 100;
  @include bp(1053){ bottom: 0; }
}

.home-icon{  
  &--2{
    display: block;
    height: 2rem; 

    @include bp(650){
      height: 4rem;
    }
  }
}