img {
  border: 0;
  max-width: 100%;
  max-height: 100%;	
}

svg:not(:root) {
  overflow: hidden;
}

.img-right img, .img-responsive img{
    width: 100%;
}

.imgContainer{
	&--1{
		
	}
}

.home-icon{
  
  &--2{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-bottom: 5px solid $col-red2;
    margin-bottom: 1rem;
  }
}