img {
  border: 0;
  max-width: 100%;
  max-height: 100%;	
}

svg:not(:root) {
  overflow: hidden;
}

.img-right img, .img-responsive img{
    width: 100%;
}

.imgContainer{
	&--1{
		
	}
}

.home-icon{
  background-image: url(../assets/graphics/icon-home.svg);

  &--2{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    fill: $col-white !important;
  }
}