ul.no-dots-ul{
    list-style: none;
}

.icon-chevron-right.slick-arrow{
    width:1.00rem;
    height: 2.00rem;
    background-color: hotpink;

}
.b-modal {
    mix-blend-mode: multiply;

}

.popupContainer .arrow-text{
    color: #ffffff;
}

.lister{
	font-size: 1.05rem;
	line-height: 1.80rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	padding-left: 1.75rem;
	margin-top: 0.25rem;
	&__num{
		color: $color-pink-1;
	}
	&__desc{
		color: $color-blue-1;
	}
	&__txt{
		&--1{
		}
	}
}

.bullet{

	
	&__list{
			
		&--1,
		&--2{ color: $col-secondary-yellow; }
		&--3{ 
			color: $col-secondary-orange; 
			margin-bottom: 1.6rem;

			@include bp(1053){
				margin-top: 3.1rem;
				margin-bottom: 4rem;

				&-x{ margin: 0 auto; }
				&-y{ margin-top: 0; }
			}
		}
		&--4{ 
			color: $col-supporting-gray1; 
			@include bp(650){
				margin-bottom: 2rem;
			}
		}
		
	}
	&__item{
		padding-bottom: 0.90rem;
		position: relative;

		@include bp(1053){
			width: 29.8rem;
			margin: 0 auto; 
		}
		@include bp(650){
			width: auto;
			margin: 0 1.5rem;
			
		}

		&--4{ 
			padding-bottom: .625rem; 
			@include bp(1053){
				width: 20.8rem;
			} 
			@include bp(1053){
				width: auto;
				margin: 0 0 0 1rem;
			} 
		}
	
		&__header{
			@include Body-1--Bold;
			color: $col-secondary-yellow;
			display: block;
			margin-bottom: .2rem;

			&--3{color: $col-secondary-orange;}
			&--4{color: $col-signature-black;}
		}
	
		&__description{
			@include Body-2;
			color: $col-white;
			display: block;

			&--3{ color: $col-signature-black; }
		}

		&__cta {
			font-size: .8rem;
			color: $col-secondary-yellow;
			&:hover{ font-weight: bold; }
		}
	
		&__connected{
			&:before{
				background-color: rgba($color: $col-supporting-beige, $alpha: .15);
				width: .1rem;
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: -.85rem;
			}
			&--3:before{background-color: rgba($col-secondary-orange, $alpha: .15);}
	
			&:first-of-type:before{
				top: .8rem;
			}
			&:last-of-type:before{
				height: .8rem;
			}
		}

		
	  
	}

}	
