.metrics{
    
    &__wrapper{
        border-left: 2px solid $col-secondary-darkgreen;
        margin-bottom: 1.2rem; 

        &--cases{ margin-left: -.85rem; }

        @include bp(1053){
            width: 29.8rem;
            margin: 0 auto 1rem auto; 
        }      
    }
    &__container{
        padding-left: .85rem;
        width: 20.4rem;
        &--cases{ width: 22.7rem; }
    }


}