.nav-bar {
  width: 100%;
  padding-left: 6.15rem;
  padding-right: 6.15rem;
  height: 2.90rem;
  position: absolute;
  top: 0;
  z-index: 1;
  transition-delay: 5s;
  transition: .25s all ease-in-out;
  display: flex;
  align-items: center; 

  @include bp(1053){
    padding-left: calc(((100vw - 29.8rem) / 2) - .5rem);
    padding-right: calc(((100vw - 29.8rem) / 2) - .5rem);
  }
  @include bp(650){
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  a {
    text-decoration: none;
  }
  &.nav-flex{
    display:flex;
    align-items: center;
  }

  &:last-child{
    font-weight: bold;
  }
}
.nav{

  &__item{
    display: flex;
    @include Body-1;


    & > *{
      margin-left: .2rem;
      margin-right: .2rem;
    }
    &--1{
      padding-top: .15rem; 
      transition: all .1s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &--4{
      padding-top: .15rem; 
      transition: all .1s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &--5{
      margin-left: auto;
      display: flex;
      align-items: center;
      // @include bp(1053){
      //   display: none;
      // }

      & .dividing-bar{
        margin: 0 .3rem; 
        @include bp(1053){
          margin: 0 .1rem;
        }
      }
    }
  }
  &__right{
    display: flex;
    align-items: center; 

    // @include bp(1053){
    //   margin-top: 3rem
    // }
    & span{
      @include Body-1--Bold; 
      margin-left: .1rem; 
      transition: margin-left .2s;
      @include bp(1053){
        display: none;
      }

      &:hover{ margin-left: .4rem;}
    }
    &--2 svg{
      height: .9rem;
      &:hover{
        transform: scale(1.1);
      }
    }
  }

}

.company-logo{
  opacity: 1;
  background-image: url("../assets/graphics/icons/oracle-logo.svg");
  background-repeat: no-repeat;
  height: 2.90rem;
  width: 7.80rem;
  float: left;
  margin-left: 3.55rem;
  background-size: cover;
  display: inline-block;
  transition-delay: background 0s;
  position: relative;

    a {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
    }
}


.logo-home{
  // height: 1rem;
  // width: 1rem;
  transform: translateY(10%);
  align-self: center; 

  &__path{
    fill: $col-supporting-gray4;
  }
  &--2{
    opacity: .5;
  }
}
.chap-name{
	@include Body-1;
  line-height: 1.3333;

  @include bp(650){
    font-size: .8rem;
  }
  &:hover{
    font-weight: 700;
  }

  &.bold{
    font-family: $font-bold;
    font-weight: 700;
  }
}
.chap-sub{
  @include Body-1--Bold;
  line-height: 1.3333;
  @include bp(650){
    font-size: .8rem;
  }
}
.dividing-bar{
  align-self: center;
}

.nav-white{
  fill: $col-white;
  color: $col-white;
}

.nav__bg-white {
  background-color: $col-white;
}

.nav__bg-black {
  background-color: $col-signature-black;
}
