.nav-bar {
  width: 100%;
  padding-left: 6.15rem;
  height: 2.90rem;
  position: absolute;
  top: 0;
  z-index: 1;
  transition-delay: 5s;
  transition: .25s all ease-in-out;
  display: flex;
  align-items: center; 

  @include bp(1053){
    padding-left: calc(((100vw - 29.8rem) / 2) - .5rem);
  }

  a {
    text-decoration: none;
  }
  &.nav-flex{
    display:flex;
    align-items: center;
  }

  &:last-child{
    font-weight: bold;
  }
}
.nav{

  &__item{
    display: flex;
    @include Body-1;


    & > *{
      margin-left: .2rem;
      margin-right: .2rem;
    }
    &--1{
      padding-top: .15rem; 
      transition: all .1s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &--4{
      padding-top: .15rem; 
      transition: all .1s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.company-logo{
  opacity: 1;
  background-image: url("../assets/graphics/icons/oracle-logo.svg");
  background-repeat: no-repeat;
  height: 2.90rem;
  width: 7.80rem;
  float: left;
  margin-left: 3.55rem;
  background-size: cover;
  display: inline-block;
  transition-delay: background 0s;
  position: relative;

    a {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
    }
}


.logo-home{
  // height: 1rem;
  // width: 1rem;
  transform: translateY(10%);
  align-self: center; 

  &__path{
    fill: $col-supporting-gray4;
  }
  &--2{
    opacity: .5;
  }
}
.chap-name{
	@include Body-1;
  line-height: 1.3333;
  &:hover{
    font-family: $font-bold;
    font-weight: 700;
  }

  &.bold{
    font-family: $font-bold;
    font-weight: 700;
  }
}
.chap-sub{
  @include Body-1--Bold;
  line-height: 1.3333;
}
.dividing-bar{
  align-self: center;
}

.nav-white{
  fill: $col-white;
  color: $col-white;
}

.nav__bg-white {
  background-color: $col-white;
}

.nav__bg-black {
  background-color: $col-signature-black;
}
