.overview{
    height: 100%;
    width: 100%;
    background-color: $col-white;
    margin-top: -2.6rem; 
    padding: 5.45rem 3.6rem 0 3.9rem;

    display: flex;
    flex-direction: column;

    @include bp(1053){
        width: 29.8rem;
        margin: 2.2rem auto 2rem auto;
    }
    @include bp(650){
        width: auto;
        margin: 2.2rem 1.5rem -1rem 1.5rem;
        padding: 3rem 1rem 0;
    }

    &__header{
        margin-bottom: 2rem; 

        display: block;
        flex-shrink: 0
    }
    &__subchapters{
        flex-grow: 1;
    }
    &__footer{
        height: 5rem;
        width: 22.7rem;
        margin-left: -3.6rem;
        margin-right: -2.8rem;
        align-self: flex-end; 

        display: flex;
        align-items: center;

        &--2{
            height: auto;
            margin-right: -2.8rem;
            flex-direction: column;
        }
        @include bp(650){
            height: 3rem;
            margin-right: 0;
        }
    }
    &__cta{
        margin-left: auto;
        margin-right: 1rem;

        &--2{ 
            margin-bottom: .5rem;
            margin-right: 0;
            margin-left: auto;
        }
        @include bp(650){ margin-right: 0rem;}

    }
}
