.quote{
	&--blackboard{
		height: 34.4rem;

		background-color: $col-signature-black;
		padding-left: 3.4rem;
		padding-right: 3.4rem;
		padding-top: 6.8rem; 

		@include bp(1053){
			height: auto;
			padding: 3rem 0 0;
		}
		@include bp(1053){
			height: auto;
			padding: 3rem 0 0;
		}
	}

	&__wrapper{
		position: relative;
		margin-left: -1.5rem;
		padding-left: 1.5rem;
		padding-bottom: 2.5rem;
		margin-bottom: 2.5rem;

		@include bp(1053){
			margin: 0 auto 1.2rem auto;
			width: 29.8rem;
			padding-left: 0;
		}
		@include bp(650){
			height: auto;
			width: auto;
			margin: 0 1.5rem 1.2rem;
		}
	}

	&__txt{
		position: relative;
	    margin-bottom: 1.2rem;
		padding-top: 4.4rem; 
		
		&:before{
			content: "\201C";
			position: absolute;
			top: -.5rem;
			left: -1rem;
			font-size: 10rem;
			color: rgba($color: $col-supporting-gray2, $alpha: .1);
			font-family: OracleSans;
			z-index: 0; 
		}
		&--cases{ 
			padding-top: 2.5rem; 
			&:before{ top: -2.3rem; }
			&--1{
				padding-top: 1rem; 
				&:before{ top: -3.8rem; }	
			}
		}

		&--white { 
			color: $col-white; 
			width: 22.7rem;
			&:before{
				color: rgba($color: $col-secondary-yellow, $alpha: .2);
			}

			@include bp(1053){
				width: 29.8rem;
			}
			@include bp(650){
				width: auto;
				margin: 0 -.5rem 1.2rem;
			}
		}

	}
	
	&__user{
		margin-bottom: 3rem; 

		&-box{
			margin-bottom: 3rem; 
			@include bp(650){
				margin: 0 -.5rem 3rem;
			}
		}
	}
}