.results{

    @include bp(1053){
        width: auto;
        height: auto;
    }
    &__flexbox{
        width: 45.1rem; 
        height: 17rem;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include bp(1053){
            flex-wrap: nowrap;
            margin: 0 auto 2rem auto;

        }
    }

    &__flexitem{
        width: 16.75rem;

        margin-right: 6.5rem;
        margin-bottom: 1.2rem;

        @include bp(1053){
            width: 29.8rem;
            margin: 0 auto 1.2rem auto;
        }
    }
    &__list{

    }
    &__item{
        margin-bottom: 1.2rem;

        @include bp(1053){
            width: 29.8rem;
            margin: 0 auto 1.2rem auto;
        }
    }
}