table {
  border-collapse: collapse;
  border-spacing: 0;
	
	td{
  padding: 0;
  &.td_chap_num:before{
	  content:"";
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
		}
	}

	th {
	  padding: 0;
	}

}

