.under{
    &-white::after {
        content: "";
        padding-top: 1.15rem;
        display: block;
        width: 3.4rem; 
        border-bottom: 5px solid white;
        margin-bottom: 2rem;
    } 
    &-red::after {
        content: "";
        padding-top: .5rem;
        display: block;
        width: 100%;
        border-bottom: 2px solid $col-secondary-orange;
        margin-bottom: 1.05rem;
    } 
  
}
    