.video-thumbnail{
  cursor: pointer;
  position: relative;
  background-color: orangered;

  &--1{
    width: 9.90rem;
    height: 5.9rem;
    margin-left: -.85rem; 
    margin-bottom: -1.1rem;
  }

  img{
    width: 100%;
  }

  .video-play-bttn{
    content: '';
    background: url("../assets/graphics/icons/video-play-btn.png") no-repeat center center;
    background-size: contain;
    height: 100%;    
    cursor: pointer;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s 1s ease-in-out;
    -o-transition: opacity .5s 1s ease-in-out;
    @include absCenter
    &--1{
      width: 20%;
    }

    &:hover{
      opacity: .75;  
    }
  }

  &:hover .video-play-bttn{
    opacity:  .75;
  }
}

.modal.video {
  background: rgba(0, 0, 0, 0.7);

  .modal__inner {
    position: absolute;
    right: initial;
    bottom: initial;
    left: 50%;
    top: 50% !important;
    width: 15.00rem;
    margin: auto;
    overflow: visible;
    background: transparent;
    border-radius: 0;
    padding: 0;
    height: auto;
    transform: translate(-50%, -50%);
  }  
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.b-modal {
    mix-blend-mode: multiply;

}

.video{

  &__wrapper{
    margin-left: .85rem;
    margin-bottom: 1.2rem;
    height: 7.05rem;
    width: 15rem;
    height: 7rem;
    position: relative;
    background-color: $col-supporting-gray4;
  }

  &__container{
    float: left;
    padding-top: .6rem;
  }
  &__info{
    float: left;
    margin-left: .5rem;
    margin-top: .5rem;
    width: 5.1rem;
  }
}