@font-face {
    font-family: "OracleSans_Bd";
    src: url("../fonts/OracleSans_Bd.ttf");
    font-weight: normal;
}
@font-face {
    /*55 Roman*/
    font-family: "OracleSans";
    src: url("../fonts/OracleSans_Rg.ttf");
    font-weight: normal;
}
@font-face {
    /*45 Light*/
    font-family: "OracleSans_Lt";
    src: url("../fonts/OracleSans_Lt.ttf");
    font-weight: normal;
}


html {
  font-family: sans-serif;
  font-weight: 400;
  height: 100%;
}

body {
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5em;
  font-family: $font-arial;
  color: #4e5052;
  height: 100%;
}

p {
  @include Body-1;
  -webkit-margin-before:0px;
  display: block;
  line-height: 1.333333333333em;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: #00758f;
  text-decoration: none;    
  &:active{
    outline: 0;  
  }
  &:hover{
    outline: 0; 
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: 700;
}
h1 {
    @include H1;
}
h2{

}

h3{
  @include H3;
}
h4{    
  font-weight: 700;
}
h6{
  font-weight: 700;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.3em;
}

sub {
  bottom: -0.25em;
}

textarea {
  overflow: auto;
}

.cover__title{
  @include H1;
  font-family: OracleSans_Bd;
  line-height: normal;
  color: $col-white;
   
  &--main{
    display: block;
  }
  &--sub{
    @include H3;
    display: block;
    color: $col_white;
  }  
}

.header{
  
  &__primary{
    @include H1;
    color: $col-white;

    &--1{
      display: inline-block;
      
    }
  }
  &__secondary{
    @include H2;
    margin-top: 1.6rem;

    &::after {
      content: "";
      display: block;
      padding-top: .8rem;
      width: 3.4rem;
      border-bottom: 5px solid $col-red-1;
      margin-bottom: 2rem; 
    } 
  }

  &__tertiary{
    @include Body-1--Bold;
    color: $col-red-1;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-top: .5rem;
      width: 100%;
      border-bottom: 2px solid $col-light-gray4;
      margin-bottom: 2rem; 
    } 

    &--sub{
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1rem;
    }

  }
}

.pg{
  @include Body-2;
  margin-bottom: 1rem; 
}

.bold{
  @include Body-1--Bold;
}
.vid_text{
  color: #00758f;
  font-size: $reg-font-size-1;
  font-family: Arial, Helvetica, sans-serif;
  &--1{
    margin-top: 0.25rem;
    margin-bottom: .5rem;  
    letter-spacing: -.01em;
  }
}
.btn-txt{
  margin-right: auto;
  @include Body-2--Bold;
 
  &--1{
    color: white;
  }
}

.txt-color{
  &--white{
    color: $col-white; 
  }
  &--blue{
    &-1{
      color: $color-blue-2;
    }
  }
  &--red{
    color: $col-red-1;
  }
  &--orange{
    &-1{
      color: $color-orange-1;
    }
  }
}

.callout{

  &__txt{
    
    &__header{
      @include Body-2--Bold;
      color: $col-white; 
    }
    &__description{
      @include Body-2--Italic;
      font-size: .6rem;
      color: $col-white; 
    }
    
  }

  &__flex{
    
    &__txt{
      @include Body-1;
      color: $col-white;

      &--bold{
        @include Body-1--Bold;
        font-size: 1.1rem;
        color: $col-white;
      }
    }
  }

}

