@font-face {
    font-family: "OracleSans_Bd";
    src: url("../fonts/OracleSans_Bd.ttf");
    font-weight: normal;
}
@font-face {
    /*55 Roman*/
    font-family: "OracleSans";
    src: url("../fonts/OracleSans_Rg.ttf");
    font-weight: normal;
}
@font-face {
    /*45 Light*/
    font-family: "OracleSans_Lt";
    src: url("../fonts/OracleSans_Lt.ttf");
    font-weight: normal;
}


html {
  font-family: sans-serif;
  font-weight: 400;
  height: 100%;
}

body {
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5em;
  font-family: $font-arial;
  color: #4e5052;
  height: 100%;
}

p {
  @include Body-1;
  -webkit-margin-before:0px;
  display: block;
  line-height: 1.333333333333em;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: #00758f;
  text-decoration: none;    
  &:active{
    outline: 0;  
  }
  &:hover{
    outline: 0; 
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: 700;
}
h1 {
    @include H1;
}
h2{

}

h3{
  @include H3;
  color: $col-red-1;
}
h4{    
  font-weight: 700;
}
h6{
  font-weight: 700;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.3em;
}

sub {
  bottom: -0.25em;
}

textarea {
  overflow: auto;
}

.cover__title{
  @include H1;
  font-family: OracleSans_Bd;
  line-height: normal;
  color: $col-white;
   
  &--main{
    display: block;
  }
  &--sub{
    @include H3;
    display: block;
    color: $col_white;
  }  
}

.heading{

  &__home{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
  }
}
.header{
  
  &__primary{
    @include H1;
    color: $col-white;

    &--1{
      display: block;
      font-size: 1.6rem;
    }
  }
  &__secondary{
    @include H2;

    &--8{
      width: 22rem;
    }

    &::after {
      content: "";
      display: block;
      padding-top: .8rem;
      width: 3.4rem;
      border-bottom: 5px solid $col-red-1;
      margin-bottom: 2rem; 
    } 
  }

  &__tertiary{
    @include Body-1--Bold;
    color: $col-red-1;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-top: .5rem;
      width: 100%;
      border-bottom: 2px solid $col-light-gray4;
      margin-bottom: 2rem; 
    } 

    &--sub{
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1rem;
    }
  }
}
.pg{
  @include Body-2;
  margin-bottom: 1rem; 

  &--white{
    color: $col-white; 
    font-size: .8rem;
  }
}

.bold{
  @include Body-1--Bold;
  color: inherit;
  &--2{ @include Body-2--Bold; }
}
.vid_text{
  color: #00758f;
  font-size: $reg-font-size-1;
  font-family: Arial, Helvetica, sans-serif;
  &--1{
    margin-top: 0.25rem;
    margin-bottom: .5rem;  
    letter-spacing: -.01em;
  }
}
.btn-txt{
  margin-right: auto;
  @include Body-2--Bold;
 
  &--1{
    color: white;
  }
}


.callout{

  &__txt{
    
    &__header{
      @include Body-2--Bold;
      color: $col-white; 
    }
    &__description{
      @include Body-2--Italic;
      font-size: .6rem;
      color: $col-white; 
    }
    
  }

  &__flex{
    
    &__txt{
      @include Body-1;
      color: $col-white;

      &--bold{
        @include Body-1--Bold;
        font-size: 1.1rem;
        color: $col-white;
      }
    }
  }

}
.chapters{
  
  &__title{

    &--main{
      @include Body-1--Bold;
      font-size: .85rem;
      color: $col-dark-gray10;
      display: block;
      padding-top: .8rem;
    }
    &--sub{
      @include Caption;
      line-height: 1.25;
      color: $col-dark-gray8;
      display: block;
    }
  }

  &__symbol{
    @include Body-1--Bold;
    font-size: 2.75rem;
    color: $col-red0;
    display: block;
    text-shadow: -.1rem .3rem rgba($color: $col-red0, $alpha: .10);
  }

  &__cta{
    @include Body-1--Bold;
    color: $col-red-1;
    font-size: .6rem;
  }
}
.overview{
  &__txt{
    &--header{
      margin-bottom: .5rem;
    }
  
  
    &--footer{
      @include Body-1--Bold;
      color: $col-red-1;
      font-size: .6rem;
      margin-left: auto;
  
      display: flex;
      align-items: center;
      
      & img{
        display: inline-block;
        width: 2rem;
        height: 1rem;
        transition: all .5s; 
      }
      &:hover img{
        padding-left: .5rem;
      }
    }
  }

  &__subchapters{

    &__textbox{
      color: $col-red-1;
      position: relative; 
      width: 9.8rem;
      margin-bottom: 2.4rem;
      font-size: .8rem; 

      &--main{
        @include Body-2--Bold;
        line-height: 1.44;
        display: block;
      }
      &--sub{
        @include Caption;
        color: $col-red-1;
        line-height: 1.25;
        display: block;
      }
      &--num{
        display: inline-block;
        position: absolute;
        top: 0;
        left: -1rem;
        transform: translateY(-5%);
      }
    }
  }
}

.metrics{
  &__container{
    &--main{
      @include Body-2--Bold;
      color: $col-red-1;
      display: block;
      line-height: 1.38;
    }
    &--sub{
      @include Body-2--Italic;
      color: $col-dark-gray8;
      display: block;
    }
  }
}

.quote{

  &__txt{
    @include Body-2--Bold;
    color: $col-dark-gray9;


  }
  &__user{

    &-name{
      @include Caption--Bold;
      color: $col-dark-gray9;

    }
    &-job{
      @include Caption;
      color: $col-dark-gray9;
    }
  }
}

.results{
  &__item{
    color: $col-red-1;

    &--main{
      @include Body-1--Bold;
      color: $col-red-1;
    }
    &--sub{
      @include Body-2;
      color: $col-dark-gray9;
    }

  }
}




.txt-color{
  &--white{
    color: $col-white; 
  }
  &--blue{
    &-1{
      color: $color-blue-2;
    }
  }
  &--red{
    color: $col-red-1;
  }
  &--orange{
    &-1{
      color: $color-orange-1;
    }
  }
}