@font-face {
    font-family: "OracleSans_Bd";
    src: url("../fonts/OracleSans_Bd.ttf");
    font-weight: normal;
}
@font-face {
    /*55 Roman*/
    font-family: "OracleSans";
    src: url("../fonts/OracleSans_Rg.ttf");
    font-weight: normal;
}
@font-face {
    /*45 Light*/
    font-family: "OracleSans_Lt";
    src: url("../fonts/OracleSans_Lt.ttf");
    font-weight: normal;
}


html {
  font-family: sans-serif;
  font-weight: 400;
  height: 100%;
}

body {
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5em;
  font-family: $font-arial;
  color: #4e5052;
  height: 100%;
}

p {
  @include Body-1-Regular;
  -webkit-margin-before:0px;
  display: block;
  line-height: 1.333333333333em;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: #00758f;
  text-decoration: none;    
  &:active{
    outline: 0;  
  }
  &:hover{
    outline: 0; 
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: 700;
}
h1 {
    @include H1;
}
h2{
    @include H2;
    margin-top: 1.6rem; 
}

h3{
    @include H3;
}
h4{    
    color: #00758f;
    font-family: $font-reg;
    font-weight: 400;
}
h6{
    color: #00758f;
    font-weight: normal;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.3em;
}

sub {
  bottom: -0.25em;
}

textarea {
  overflow: auto;
}

.cover__title{
  @include H1;
  font-family: OracleSans_Bd;
  font-weight: 400;
  line-height: normal;
  letter-spacing: .01em;
  color: $col-white;
   
  &--main{
    font-family: $font-bold;
    font-size: $big-font-size-1;
    display: block;
  }
  &--sub{
    @include H3;
    display: block;
    color: $col_white;
    margin-bottom: 1.4rem
  }  
}

.header{
  color: $color-blue-1;
  font-family: $font-arial;
  font-weight: 700;
  font-size: $big-font-size-1;

  &--1{

  }  
}

.pg{
  @include Body-2-Regular;
  margin-bottom: 1rem; 
}

.bold{
  @include Body-1-Bold;
}
.vid_text{
  color: #00758f;
  font-size: $reg-font-size-1;
  font-family: Arial, Helvetica, sans-serif;
  &--1{
    margin-top: 0.25rem;
    margin-bottom: .5rem;  
    letter-spacing: -.01em;
  }
}
.btn-txt{
  margin-right: auto;
  @include Body-2-Bold;
 
  &--1{
    color: white;
  }
}

.txt-color{
  &--white{
    color: $col-white; 
  }
  &--blue{
    &-1{
      color: $color-blue-2;
    }
  }
  &--red{
    color: $col-red-1;
  }
  &--orange{
    &-1{
      color: $color-orange-1;
    }
  }
}
